
body{
    background-color: rgba(32, 32, 32, 1);
    font-family: 'Playfair Display', serif;
}



/*Header*/
.navegacion{
    display: none;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.icon__ww{

position: absolute;
width: 46px;
height: 55px;
left: 30px;
top: 9px;

border-radius: 1px;
}
.menu__movil{

position: absolute;
width: 36px;
height: 36px;
right: 30px;
top: 18px;

}
.circulo{
    margin-top: 7rem;
}
.circulo img{
    position: relative;

    margin: auto
}
.titulo{
    /* Titulo-White-Wolf */
    position: absolute;

    top: 35%;
    left: 50%;
    transform: translate(-50%, -60%);

    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

}
.texto{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    
    color: #FFFFFF;
}
.nubes{
    
 }
#nube1{
    position: absolute;
    top: 55%;
    right: 1rem;
}

#nube2{
    position: absolute;
    top: 43%;
    left: 1rem;
}

#nube3{
    position: absolute;
    top: 70%;
    left: 3.5rem;
}